{% extends "base_servant.html" %}
{% load static %}
{% load bootstrap %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li>
				<a style="color: #000000;" href="{% url 'accounts:home' %}">
					<em class="fa fa-home"></em>
					Servidor
				</a>
			</li>
			<li class="bread-active">Aluno</li>
			<li class="bread-active">{{action}}</li>
		</ol>
	</div><!--/.row-->
	<br>
	{% if messages %}
		{% for message in messages %}
			<div class="alert {% if message.tags == 'error' %} alert-danger {% else %} alert-{{ message.tags }} {% endif %}" role="alert">
			{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	<div class="row">
		<div class="col-lg-12">
			<h7>&nbsp;</h7>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{action}} Aluno
				</div>					
				<div class="panel-body">
					<form class="form-vertical" action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<fieldset>
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-3">
										{{ form.username | bootstrap}}
									</div>
									<div class="col-md-4">
										{{ form.name | bootstrap}}
									</div>
									<div class="col-md-3">
										{{ form.birthdate | bootstrap}}
									</div>
									<div class="col-md-2">
										{{ form.rg | bootstrap}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										{{ form.cpf | bootstrap}}
									</div>
									<div class="col-md-5">
										{{ form.email | bootstrap}}
									</div>
									<div class="col-md-4">
										{{ form.phone | bootstrap}}
									</div>		
								</div>
								<div class="row">
									<div class="col-md-5">
										{{ form.student_class | bootstrap}}
									</div>
									<div class="col-md-3">
										{{ form.entry_date | bootstrap}}
									</div>
									<div class="col-md-3">
										{{ form.profilepic | bootstrap}}
									</div>
								</div>
								<div class="row">
								{% if form.password1 %}
									<div class="col-md-4">
										{{ form.password1 | bootstrap}}
									</div>
									<div class="col-md-4">
										{{ form.password2 | bootstrap}}
									</div>
								{% endif %}
								<div class="col-md-12" align="center">
									<br>
									<button type="submit" class="btn btn-success btn-lg pull-center">Enviar</button>
								</div>
								<!-- Form actions -->
								<div class="form-group">
									
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock%}